/*––––––––––––––––––––––––––––––––––––content section––––––––––––––––––––––––––––––––––––*/

.content {
  margin: 14px 20px 0px 20px;
  width: calc(100% - 40px);
  max-width: calc(100% - 40px);
  height: 100vh;
  position: relative;
  border-bottom: 2px solid black;
}

.content .content-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  z-index: 2;
  padding: 20px 0;
}

.content .content-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: flex;
  flex-direction: column;
}

.content .content-drawing {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.content .content-suggestions {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 20px 0;
}

.content .content-drawing img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/*–––––––primo–––––––*/
#first-drawing .content-title {
  align-items: flex-start;
  justify-content: flex-start;
}

#first-drawing .content-title p {
  padding-left: 80px;
}

#first-drawing .content-text {
  justify-content: center;
}

#first-drawing .content-text p {
  margin-left: 400px;
  margin-bottom: 120px;
}

#first-drawing .content-drawing {
  align-items: flex-end;
  justify-content: flex-end;
}

#first-drawing img {
  height: 80%;
  margin-right: 80px;
  margin-bottom: 80px;
}

/*–––––––secondo–––––––*/
#second-drawing .content-title {
  align-items: flex-start;
  justify-content: flex-start;
}

#second-drawing .content-title p {
  padding-left: 80px;
}

#second-drawing .content-text {
  justify-content: center;
}

#second-drawing .content-text p {
  margin-left: 400px;
  margin-bottom: 120px;
}

#second-drawing .content-drawing {
  align-items: flex-end;
  justify-content: flex-end;
}

#second-drawing img {
  height: 80%;
  margin-right: 80px;
  margin-bottom: 80px;
}

/*–––––––terzo–––––––*/
#third-drawing .content-title {
  align-items: flex-start;
  justify-content: flex-start;
}

#third-drawing .content-title p {
  padding-left: 80px;
}

#third-drawing .content-text {
  justify-content: flex-end;
}

#third-drawing .content-text p {
  margin-left: 400px;
  margin-bottom: 240px;
}

#third-drawing .content-drawing {
  align-items: flex-end;
  justify-content: flex-end;
}

#third-drawing img {
  height: 60%;
  margin-bottom: 80px;
}

/*–––––––quarto–––––––*/
#fourth-drawing .content-title {
  align-items: flex-start;
  justify-content: flex-start;
}

#fourth-drawing .content-title p {
  padding-left: 80px;
}

#fourth-drawing .content-text {
  justify-content: flex-end;
}

#fourth-drawing .content-text p {
  margin-left: 400px;
  margin-bottom: 240px;
}

#fourth-drawing .content-drawing {
  align-items: flex-end;
  justify-content: flex-end;
}

#fourth-drawing img {
  height: 80%;
  margin-right: 80px;
  margin-bottom: 80px;
}

/*–––––––quinto–––––––*/
#fifth-drawing .content-title {
  align-items: flex-start;
  justify-content: flex-start;
}

#fifth-drawing .content-title p {
  padding-left: 80px;
}

#fifth-drawing .content-text {
  justify-content: flex-end;
}

#fifth-drawing .content-text p {
  margin-left: 400px;
  margin-bottom: 240px;
}

#fifth-drawing .content-drawing {
  align-items: flex-end;
  justify-content: flex-end;
}

#fifth-drawing img {
  height: 60%;
  margin-bottom: 120px;
}

/*–––––––sesto–––––––*/
#sixth-drawing .content-title {
  align-items: flex-start;
  justify-content: flex-start;
}

#sixth-drawing .content-title p {
  padding-left: 80px;
}

#sixth-drawing .content-text {
  justify-content: flex-end;
  align-items: flex-end;
}

#sixth-drawing .content-text p {
  margin-left: 400px;
  margin-bottom: 240px;
}

#sixth-drawing .content-drawing {
  align-items: flex-end;
  justify-content: center;
}

#sixth-drawing img {
  height: 100%;
}

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

.sketchbook {
  margin: 14px 20px 0px 20px;
  width: calc(100% - 40px);
  max-width: calc(100% - 40px);
  height: 100vh;
  position: relative;
  border-bottom: 2px solid black;
}
