@font-face {
  font-family: "Humane";
  src: url(https://cdn.jsdelivr.net/gh/daveee00/drawings/fonts/Humane-font/Humane-Bold.otf);
  font-weight: 600;
}

@font-face {
  font-family: "Humane";
  src: url(https://cdn.jsdelivr.net/gh/daveee00/drawings/fonts/Humane-font/Humane-Medium.otf);
  font-weight: 400;
}

.text-bigger p {
  color: #231815;
  flex: none;
  font-feature-settings: "palt" 1;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  letter-spacing: normal;
  line-height: 1.05;
  margin: 0px;
  text-align: left;
  width: calc(100% - (var(--gap-h-6aafdb5d-42fa-4e10-8eb9-428f585b1340) * 0));
  max-width: calc(
    100% - (var(--gap-h-6aafdb5d-42fa-4e10-8eb9-428f585b1340) * 0)
  );
  justify-content: flex-start;
}

.text-smaller p {
    color: #231815;
    flex: none;
    font-feature-settings: "palt" 1;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    height: auto;
    letter-spacing: normal;
    line-height: 1.05;
    margin: 0px;
    text-align: left;
    width: calc(100% - (var(--gap-h-6aafdb5d-42fa-4e10-8eb9-428f585b1340) * 0));
    max-width: calc(
      100% - (var(--gap-h-6aafdb5d-42fa-4e10-8eb9-428f585b1340) * 0)
    );
    justify-content: flex-start;
}

.title-drawing p {
  font-family: "Humane";
  font-size: 8em;
  font-weight: 600;
}

.content .content-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 2;
}

.content .content-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.content .content-drawing {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
}

.content .content-drawing img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.content .content-suggestions {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: end;
}
